/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        double_shift_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <40 55>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp GRAVE       &kp N1     &kp N2         &kp N3        &kp N4    &kp N5                                                                         &kp N6  &kp N7         &kp N8     &kp N9    &kp N0    &lt 3 MINUS
&kp TAB         &kp Q      &kp W          &kp E         &kp R     &kp T   &mo 3                                             &mo 3                &kp Y   &kp U          &kp I      &kp O     &kp P     &kp EQUAL
&lt 3 ESC       &kp A      &kp S          &kp D         &kp F     &kp G   &lt 3 LEFT_BRACKET                                &lt 3 RIGHT_BRACKET  &kp H   &kp J          &kp K      &kp L     &kp SEMI  &lt 3 SINGLE_QUOTE
&sk LSHFT       &kp Z      &kp X          &kp C         &kp V     &kp B   &kp DEL             &kp CAPS       &kp BACKSLASH  &kp INSERT           &kp N   &kp M          &kp COMMA  &kp DOT   &kp FSLH  &sk RSHFT
&mt LCTRL HOME  &kp PG_UP  &kp PAGE_DOWN  &mt LALT END  &sk LGUI          &lt 2 SPACE         &kp BACKSPACE  &kp ENTER      &lt 2 SPACE                  &sk RIGHT_ALT  &kp LEFT   &kp DOWN  &kp UP    &kp RIGHT
            >;
        };

        gaming {
            bindings = <
&trans            &trans            &trans        &trans  &trans     &trans                                        &trans  &trans  &trans  &trans  &trans  &trans
&trans            &trans            &trans        &trans  &trans     &trans  &kp NUMBER_6                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans            &trans            &trans        &trans  &trans     &trans  &kp H                         &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHIFT        &trans            &trans        &trans  &trans     &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_CONTROL  &kp LEFT_CONTROL  &kp LEFT_GUI  &trans  &kp SPACE          &kp SPACE     &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        modifiers {
            bindings = <
&kp F1     &kp F2         &kp F3          &kp F4           &kp F5            &kp F6                                                                    &kp F7      &kp F8         &kp F9        &kp F10     &kp F11           &kp F12
&kp GRAVE  &kp LS(N1)     &kp LS(N2)      &kp LS(N3)       &kp LS(N4)        &kp LS(N5)         &mo 3                                    &mo 3         &kp LS(N6)  &kp LS(N7)     &kp LS(N8)    &kp LS(N9)  &kp LS(N0)        &kp MINUS
&trans     &kp N1         &kp N2          &kp N3           &kp N4            &kp N5             &kp LS(RBKT)                             &kp LS(RBRC)  &kp N6      &kp N7         &kp N8        &kp N9      &kp N0            &kp DQT
&kp LSHFT  &kp BACKSLASH  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans        &trans  &kp LS(BACKSLASH)  &trans        &kp PIPE    &kp LEFT       &kp DOWN      &kp UP      &kp RIGHT         &sk RIGHT_SHIFT
&sk LCTRL  &trans         &trans          &sk LALT         &sk LEFT_GUI                         &trans        &trans  &trans             &trans                    &sk RIGHT_ALT  &kp K_VOL_DN  &kp K_MUTE  &kp K_PLAY_PAUSE  &kp K_VOL_UP
            >;
        };

        config {
            bindings = <
&out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                     &trans           &trans           &trans           &trans           &trans        &trans
&none         &none         &none         &none         &none         &none         &tog 1                     &tog 1  &kp KP_NUMLOCK   &kp KP_NUMBER_7  &kp KP_N8        &kp KP_N9        &kp KP_MINUS  &none
&out OUT_USB  &none         &none         &none         &none         &none         &none                      &none   &kp KP_SLASH     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS   &none
&none         &none         &none         &none         &none         &none         &bt BT_CLR  &trans  &none  &none   &kp KP_ASTERISK  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_EQUAL  &kp KP_ENTER
&none         &none         &none         &none         &none                       &none       &none   &none  &none                    &none            &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_COMMA  &none
            >;
        };
    };
};
